body {
  margin: 0;
}

.container {
  display: grid;

  grid-template-columns: 75% 25%;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas:
    "header header"
    "main side"
    "footer footer";
  width: 1024px;
}

.item-header {
  grid-area: header;
  background-color: black;
  color: white;
}

.item-main {
  grid-area: main;
  background-color: rgb(215, 188, 241);
  padding: 20px 30px;
}

.item-side {
  grid-area: side;
  background-color: rgb(143, 82, 199);
}

.item-footer {
  grid-area: footer;
  background-color: rgb(173, 167, 167);
  text-align: center;
}

.img1 {
  float: left;
  padding-top: 15px;
}

.ul-header {
  color: white;
  display: inline;
  float: left;
  list-style: none;
  text-align: center;
}

.li-header {
  font-family: Impact, sans-serif;
  float: left;
  padding: 40px;
}

.li-header:hover {
  color: #d0a8eb;
}

.log {
  font-family: Impact, sans-serif;
  color: white;
  text-decoration: none;
  padding: 40px 0 40px 0;
}

.log:hover {
  color: #f0b821;
}

.main-header-title {
  color: rgb(96, 13, 163);
  font-family: "Ubuntu", sans-serif;

}

.main-header-parag {
  color: rgb(96, 13, 163);
  font-family: Helvetica, sans-serif;
  line-height: 20px;
}

.article1 {
  width: 300px;
  float: left;
}
.article1-header{
    font-family: Impact, sans-serif;
    color: rgb(96, 13, 163);
}

.article1-parag1{
    font-family: Helvetica, sans-serif;
    text-align: justify;
    color: rgb(96, 13, 163);
}

.article1-parag2{
    font-family: Helvetica, sans-serif;
    text-align: justify;
    color: rgb(96, 13, 163);
}

.article2 {
    margin: 0;
    padding-left: 50px;
    display: flow-root;
    width: 300px;
  
}

.article2-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(96, 13, 163);
}

.article2-img {
  width: 150px;
  padding-left: 20px;
  float: right;
}

.article2-parag1{
    font-family: Helvetica, sans-serif;
    word-wrap: break-word;
    text-align: justify;
    color: rgb(96, 13, 163);
    
}

.article2-parag2{
    font-family: Helvetica, sans-serif;
    text-align: justify;
    color: rgb(96, 13, 163);
}

.item-side{
    padding: 30px;
    color: white;
    font-family: Helvetica, sans-serif;
}

.footer-text{
    display: flow-root;
    padding-top: 10px;
    color: white;
}
